<!-- main -->
<div class="row main">
  <!-- trai -->
  <div class="col-md-4 col-xs-12 trai">
    <ul>
      <li>
        <img src="../../../../assets/img/icon-footer-01.png" /> Các sản phẩm đã đăng
      </li>
    </ul>
    <div *ngFor="let product of products | orderBy:'id':true;let i = index">
      <div class="col-md-12 dadang" *ngIf="i<6">
        <div class="col-md-4 hinhsp">
          <img src="../../../../assets/img/sanphamdadang-01.png" />
        </div>
        <div class="col-md-8 ttsp">
          <ul>
            <li>
              <img src="../../../../assets/img/tamgiacdadang-01.png" />
              <a [routerLink]="['/san-pham',product.id]">{{product.proname}}</a>
            </li>
          </ul>
          <div class="col-md-12 sndg">
            <h4>So nguoi dau gia</h4>
            <ul>
              <li>
                <h5>120</h5>
              </li>
            </ul>
            <a [routerLink]="['/san-pham',product.id]">Chi tiet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- het trai -->
  <!-- phai -->
  <div class="col-md-8 col-xs-12 phai">
    <div class="row phai1">
      <h3>Đăng sản phẩm</h3>
      <div class="daugach">
      </div>
      <div class="col-md-12 phai3">
        <form (ngSubmit)="onSubmit()">
          <div class="col-md-6 danganh">
            <div class="daugach2"></div>
            <div class="col-md-12 danganh1">
              <!-- <input type="file" id="inp" />
              <span class="btn">add file</span> -->
              <!-- <app-upload-image></app-upload-image> -->

              <!-- Upload image go here -->
              <image-upload
              [url]="'https://api.imgur.com/3/image'"
              [headers]="{Authorization: 'Client-ID faef2b533303522'}"
              (removed)="onRemoved($event)"
              (uploadFinished)="imageFinishedUploading($event)"
              (uploadStateChanged)="onUploadStateChanged($event)">
            </image-upload>



            </div>
            <!-- <div class="col-md-12 danganh1">
              <input type="file" id="inp" />
              <span class="btn">add file</span>
            </div> -->
          </div>
          <div class="col-md-6 dangtt">
            <h4>Thông tin sản phẩm</h4>
            <ul>
              <span class="glyphicon glyphicon-tag"></span>
              <input type="text" name="proname" class="form__field" placeholder="Tên sản phẩm/Bắt buộc" #proname (keyup)="onProNameType(proname.value)"
                ngModel />
            </ul>
            <div class="daugach3"></div>
            <h4>Thông tin sơ lượt</h4>
            <ul>
              <span class="glyphicon glyphicon-tags"></span>
              <input type="text" name="brand" class="form__field" placeholder="Thương hiệu/Bắt buộc" #brand (keyup)="onBrandType(brand.value)"
                ngModel />
            </ul>
            <ul>
              <span class="glyphicon glyphicon-tags"></span>
              <input type="text" name="warrantyperiod" class="form__field" placeholder="Bảo hành/Bắt buộc" #warrantyperiod (keyup)="onWarrantyperiodType(warrantyperiod.value)"
                ngModel />
            </ul>
            <ul>
              <span class="glyphicon glyphicon-tags"></span>
              <select #selectedCategory (change)="callType(selectedCategory.value)">
                <option value="-1">Chọn danh mục sản phẩm</option>
                <option *ngFor="let cat of categorys" [value]="cat.id">{{cat.name}}</option>
              </select>
            </ul>
            <div class="daugach3"></div>
            <h4>Thời gian: </h4>
            <select #selectedHours (change)="onHours(selectedHours.value)">
              <option value="-1">Chọn giờ hết hạn đấu giá</option>
              <option value="24">24 giờ</option>
              <option value="48">48 giờ</option>
              <option value="72">72 giờ</option>
            </select>
            <div class="col-md-12 col-xs-12 col-ms-12 btn-dangsp1">
              <button type="submit" class="btn-dangsp">Đăng sản phẩm</button>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12 phai2">
            <h4>Thông tin chi tiết</h4>
          </div>
          <div class="col-md-12 phai2">
            <textarea rows="5" cols="20" name="note" class="form__field" placeholder="Thông tin chi tiết/bắt buộc" #note (keyup)="onNoteType(note.value)"
              ngModel></textarea>
          </div>
        </form>
      </div>
    </div>

  </div>
  <!-- het phai -->
</div>
<!-- het main -->
