<!-- main -->
<div class="row main">
  <!-- trai -->
  <div class="col-md-4 col-xs-12 trai">

    <ul class="nav nav-tabs">
      <li>
        <a class="active" href="#info" data-toggle="tab">Sản phẩm khác</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="info">
        <div *ngFor="let pro of productArr | orderBy: id :true; let i = index">
          <div class="col-md-12 dadang" *ngIf="i<5">
            <div class="col-md-4 hinhsp">
              <img [src]="pro.mainimage" />
            </div>
            <div class="col-md-8 ttsp">
              <ul>
                <li>
                  <img src="assets/img/tamgiacdadang-01.png" />
                  <a [routerLink]="['/san-pham',pro.id]">{{pro.proname}}</a>
                </li>
              </ul>
              <div class="col-md-12 sndg">
                <!-- <ul>
                  <li>
                    <h5>120</h5>
                  </li>
                </ul> -->
                <a [routerLink]="['/san-pham',pro.id]">Chi tiet</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- het trai -->

  <!-- phai -->
  <div class="col-md-8 col-xs-12 phai">
    <div class="row phai1">
      <h3>Các sản phẩm đã đấu giá</h3>
      <div class="daugach">
      </div>
      <div class="col-md-12 col-xs-12 phai3">
        <div *ngFor="let auc of aucArr | orderBy: id :true">
          <div class="col-md-12 col-xs-12 sanpham" *ngFor="let product of filterProduct(auc) | orderBy: id :true">
            <div class="col-md-3 col-xs-4 hinhspdd">
              <img [src]="product.mainimage" alt="">
            </div>
            <div class="col-md-9 col-xs-8 ttspdd">
              <ul>
                <li>
                  <img src="assets/img/tamgiacdadang-01.png" />
                  <a [routerLink]="['/san-pham',product.id]">{{product.proname}}</a>
                </li>
              </ul>
              <div class="col-md-12 col-xs-12">
                <!-- <div class="col-md-2 col-xs-3 iconman">
                  <img src="assets/img/man-user.png" />
                </div> -->
                <!-- <div class="col-md-10 col-xs-9 sndg">
                  <ul>
                    <li>
                      Số người đấu giá:
                      <a href="#">120</a>
                    </li>
                  </ul>
                </div> -->
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="col-md-2 col-xs-3 iconman">
                  <img src="assets/img/schedule-button.png" />
                </div>
                <div class="col-md-10 col-xs-9 sndg">
                  <ul>
                    <li>
                      Thời gian còn lại:
                      <span>10:00:00</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- het phai -->
</div>
<!-- het main -->
