<!-- main -->
        <div class="row main">
            <!-- trai -->
            <div class="col-md-4 col-xs-12 trai">

                <ul class="nav nav-tabs">
                    <li><a href="#sp" data-toggle="tab">Sản phẩm đã đăng</a></li>
                    <li><a href="#info" data-toggle="tab">Sản phẩm đã đấu giá</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="sp">
                        <div class="col-md-12 dadang">
                            <div class="col-md-4 hinhsp">
                                <img src="assets/img/sanphamdadang-01.png" />
                            </div>
                            <div class="col-md-8 ttsp">
                                <ul>
                                    <li>
                                        <img src="assets/img/tamgiacdadang-01.png" />
                                        <a href="#">AIR JORDAN 4 RETRO "2012 RELEASE"</a>
                                    </li>
                                </ul>
                                <div class="col-md-12 sndg">
                                    <h4>So nguoi dau gia</h4>
                                    <ul>
                                        <li>
                                            <h5>120</h5>
                                        </li>
                                    </ul>
                                    <a href="#">Chi tiet</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="info">
                        <div class="col-md-12 dadang">
                            <div class="col-md-4 hinhsp">
                                <img src="assets/img/sanphamdadang-01.png" />
                            </div>
                            <div class="col-md-8 ttsp">
                                <ul>
                                    <li>
                                        <img src="assets/img/tamgiacdadang-01.png" />
                                        <a href="#">AIR JORDAN 4 RETRO "2012 RELEASE"</a>
                                    </li>
                                </ul>
                                <div class="col-md-12 sndg">
                                    <ul>
                                        <li>
                                            <h5>120</h5>
                                        </li>
                                    </ul>
                                    <a href="#">Chi tiet</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- het trai -->

            <!-- phai -->
            <div class="col-md-8 col-xs-12 phai">
                <div class="row phai1">
                    <h3>Các sản phẩm đã đấu giá</h3>
                    <div class="daugach">
                    </div>
                    <div class="col-md-12 col-xs-12 phai3">
                        <div class="col-md-12 col-xs-12 sanpham">
                            <div class="col-md-3 col-xs-4 hinhspdd">
                                <img src="assets/img/sanphamdadang-02-01.png" alt="">
                            </div>
                            <div class="col-md-9 col-xs-8 ttspdd">
                                <ul>
                                    <li>
                                        <img src="assets/img/tamgiacdadang-01.png" />
                                        <a href="#">AIR JORDAN 4 RETRO "2012 RELEASE"</a>
                                    </li>
                                </ul>
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-2 col-xs-3 iconman">
                                        <img src="assets/img/man-user.png" />
                                    </div>
                                    <div class="col-md-10 col-xs-9 sndg">
                                        <ul>
                                            <li>
                                                Số người đấu giá:
                                                <a href="#">120</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-2 col-xs-3 iconman">
                                        <img src="assets/img/schedule-button.png" />
                                    </div>
                                    <div class="col-md-10 col-xs-9 sndg">
                                        <ul>
                                            <li>
                                                Thời gian còn lại:
                                                <span>10:00:00</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 sanpham">
                            <div class="col-md-3 col-xs-4 hinhspdd">
                                <img src="assets/img/sanphamdadang-02-01.png" alt="">
                            </div>
                            <div class="col-md-9 col-xs-8 ttspdd">
                                <ul>
                                    <li>
                                        <img src="assets/img/tamgiacdadang-01.png" />
                                        <a href="#">AIR JORDAN 4 RETRO "2012 RELEASE"</a>
                                    </li>
                                </ul>
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-2 col-xs-3 iconman">
                                        <img src="assets/img/man-user.png" />
                                    </div>
                                    <div class="col-md-10 col-xs-9 sndg">
                                        <ul>
                                            <li>
                                                Số người đấu giá:
                                                <a href="#">120</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-2 col-xs-3 iconman">
                                        <img src="assets/img/schedule-button.png" />
                                    </div>
                                    <div class="col-md-10 col-xs-9 sndg">
                                        <ul>
                                            <li>
                                                Thời gian còn lại:
                                                <span>10:00:00</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="caution">
                                        <img src="assets/img/caution-01.png" alt="">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 col-xs-12 sanpham">
                                <div class="col-md-3 col-xs-4 hinhspdd">
                                    <img src="assets/img/sanphamdadang-02-01.png" alt="">
                                </div>
                                <div class="col-md-9 col-xs-8 ttspdd">
                                    <ul>
                                        <li>
                                            <img src="assets/img/tamgiacdadang-01.png" />
                                            <a [routerLink]="['/san-pham',product.id]">AIR JORDAN 4 RETRO "2012 RELEASE"</a>
                                        </li>
                                    </ul>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-2 col-xs-3 iconman">
                                            <img src="assets/img/man-user.png" />
                                        </div>
                                        <div class="col-md-10 col-xs-9 sndg">
                                            <ul>
                                                <li>
                                                    Số người đấu giá:
                                                    <a href="#">120</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-2 col-xs-3 iconman">
                                            <img src="assets/img/schedule-button.png" />
                                        </div>
                                        <div class="col-md-10 col-xs-9 sndg">
                                            <ul>
                                                <li>
                                                    Thời gian còn lại:
                                                    <span>10:00:00</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="caution">
                                            <img src="assets/img/caution-01.png" alt="">
                                    </div>

                                </div>
                            </div>

                    </div>
                </div>

            </div>
            <!-- het phai -->
        </div>
        <!-- het main -->
