<!-- header -->
<div class="row">
  <header class="dong1">
      <div class="row remove-margin">
          <div class="col-xs-5 col-md-5 col-sm-5">
              <a [routerLink]="['']">
                  <img src="../../../../assets/img/khung logo-01-01.png" alt="" />
              </a>
          </div>
          <div class="col-xs-2 col-xs-offset-5 col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4 signin">
              <!-- <button type="button" id="btn-click" class="glyphicon glyphicon-align-right"></button> -->
              <div id="btn-click" class="hover">
                  <span class="glyphicon glyphicon-align-justify"></span>
              </div>
              <ul class="antrenmobile signinan" *ngIf="!check">
                  <li>
                      <a [routerLink]="['/dang-nhap']">Đăng nhập</a>
                  </li>
                  <li>
                      <a [routerLink]="['/dang-ky']">Đăng ký</a>
                  </li>
              </ul>
              <div class="antrenmobile user" *ngIf="check">
                  <ul class="bangten">
                      <li>
                          Hello!
                      </li>
                  </ul>
                  <div class="dropdown">
                        <button class="dropbtn">{{userName}}<span class="glyphicon glyphicon-chevron-down"></span></button>
                        <div class="dropdown-content">
                                <a [routerLink]="['/dang-san-pham']">Đăng sản phẩm</a>
                                <a [routerLink]="['/san-pham-da-dang']">Sản phẩm đã đăng</a>
                                <a [routerLink]="['/san-pham-da-dau-gia']">Sản phẩm đã đấu giá</a>
                                <button (click)='logOut()'>Đăng xuất</button>
                        </div>
                      </div>

              </div>
          </div>
      </div>
      <div class="row remove-margin">
          <div class="col-xs-10 col-xs-offset-2 menudt1">
              <ul>
                  <li>
                      <a [routerLink]="['/dang-nhap']">Đăng nhập</a>
                  </li>
                  <li>
                      <a [routerLink]="['/dang-ky']">Đăng ký</a>
                  </li>
              </ul>
              <div class="danhmucdt">
                  <h3>Danh mục</h3>
                  <ul>
                      <li>
                          <img src="../../../../assets/img/listyle-01.png" />
                          <a [routerLink]="['']">Home</a>
                      </li>
                      <li>
                          <img src="../../../../assets/img/listyle-01.png" />
                          <a href="#">Fashion</a>
                          <ul>
                              <li>
                                  <a href="#">áo</a>
                              </li>
                              <li>
                                  <a href="#">Quần</a>
                              </li>
                              <li>
                                  <a href="#">jacket</a>
                              </li>
                              <li>
                                  <a href="#">jacket</a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row menuan remove-margin ">
          <div class="col-md-6 antrenmobile">
              <ul class="sizechu">
                  <li>
                      <a href="#">HOME</a>
                  </li>
                  <li>
                      <a href="#">CONTACT</a>
                  </li>
                  <li>
                      <a href="#">ABOUT US</a>
                  </li>
              </ul>
          </div>
          <div class="col-xs-12 col-md-6">
              <div class="trenthanhsearch antrenmobile">
                  <ul>Y O U R T A G L I N E S P A C E H E R E</ul>
              </div>
              <div class="search ">
                  <form class="form">
                      <input type="text" class="form__field" placeholder="What are you looking for?" />
                      <button type="button" class="btn btn--primary btn--inside uppercase">
                          <img src="../../../../assets/img/search icon2.png" />
                      </button>
                  </form>
              </div>
          </div>
      </div>
  </header>
</div>
<!-- het header -->
