
        <!-- slider -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
              <div class="item active">
                  <img src="../../../assets/img/slidera-01.png" alt="...">
                  <div class="carousel-caption">
                      <div class="slider_left">
                          <ul>
                              <li>
                                  <a href="#">
                                      <img src="../../../assets/img/sliderd-01.png" alt="">
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <img src="../../../assets/img/slidere-01.png" alt="">
                                  </a>
                              </li>
                          </ul>

                      </div>

                  </div>
              </div>
              <div class="item">
                  <img src="../../../assets/img/sliderb-01.png" alt="...">
                  <div class="carousel-caption">

                  </div>
              </div>
              <div class="item">
                  <img src="../../../assets/img/sliderc-01.png" alt="...">
                  <div class="carousel-caption">

                  </div>
              </div>

          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">

          </a>
      </div>

      <!-- hetslider -->
