<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/404.css">
</head>

<body>
  <div class="container">
    <div class="form">
      <div class="col-md-12 col-xs-12 error">
          <img src="assets/img/404-01.png" alt=""/>
      </div>

        Hello.


    </div>
  </div>


  </div>
  <script src='assets/js/jquery-3.2.1.min.js'></script>
  <script src="assets/js/style.js"></script>

</body>

</html>