<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/header.css" rel="stylesheet">
    <link href="assets/css/slider.css" rel="stylesheet">
    <link href="assets/css/main-dangsanpham.css" rel="stylesheet">
    <link href="assets/css/footer.css" rel="stylesheet">

</head>

<body>
    <div class="container man-hinh-giua ">
        <!-- header -->
        <div class="row">
                <header class="dong1">
                    <div class="row remove-margin">
                        <div class="col-xs-5 col-md-5 col-sm-5">
                            <a href="#">
                                <img src="assets/img/khung logo-01-01.png" alt="" />
                            </a>
                        </div>
                        <div class="col-xs-2 col-xs-offset-5 col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4 signin">
                            <!-- <button type="button" id="btn-click" class="glyphicon glyphicon-align-right"></button> -->
                            <div id="btn-click" class="hover">
                                <span class="glyphicon glyphicon-align-right"></span>
                            </div>
                            <ul class="antrenmobile signinan">
                                <li>
                                    <a href="login form.html">Sign in</a>
                                </li>
                                <li>
                                    <a href="#">Sign up</a>
                                </li>
                            </ul>
                            <div class="antrenmobile user">
                                <ul class="bangten">
                                    <li>
                                        Hello!
                                    </li>
                                    <li>
                                        <a href="#">XXAPT</a>
                                    </li>
                                </ul>
                                <ul class="upsp">
                                    <li>
                                        <a href="#">Đăng sản phẩm</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row remove-margin">
                        <div class="col-xs-10 col-xs-offset-2 menudt1">
                            <ul>
                                <li>
                                    <a href="#">Dang nhap</a>
                                </li>
                                <li>
                                    <a href="#">Dang ki</a>
                                </li>
                            </ul>
                            <div class="danhmucdt">
                                <h3>Danh mục</h3>
                                <ul>
                                    <li>
                                        <img src="assets/img/listyle-01.png" />
                                        <a href="#">Home</a>
                                    </li>
                                    <li>
                                        <img src="assets/img/listyle-01.png" />
                                        <a href="#">Fashion</a>
                                        <ul>
                                            <li>
                                                <a href="#">áo</a>
                                            </li>
                                            <li>
                                                <a href="#">Quần</a>
                                            </li>
                                            <li>
                                                <a href="#">jacket</a>
                                            </li>
                                            <li>
                                                <a href="#">jacket</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 menuan remove-margin">
                        <div class="col-md-6 antrenmobile">
                            <ul class="sizechu">
                                <li>
                                    <a href="#">HOME</a>
                                </li>
                                <li>
                                    <a href="#">CONTACT</a>
                                </li>
                                <li>
                                    <a href="#">ABOUT US</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="trenthanhsearch antrenmobile">
                                <ul>Y O U R T A G L I N E S P A C E H E R E</ul>
                            </div>
                            <div class="search ">
                                <form class="form">
                                    <input type="text" class="form__field" placeholder="What are you looking for?" />
                                    <button type="button" class="btn btn--primary btn--inside uppercase">
                                        <img src="assets/img/search icon2.png" />
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        <!-- het header -->



        <!-- main -->
        <div class="row main">
            <!-- trai -->
            <div class="col-md-4 col-xs-12 trai">
                
                    <ul class="nav nav-tabs">
                        <li><a href="#sp" data-toggle="tab">Sản phẩm đã đăng</a></li>
                        <li><a href="#info" data-toggle="tab">Sản phẩm đã đấu giá</a></li>                    
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="sp">
                            <div class="col-md-12 dadang">
                                <div class="col-md-4 hinhsp">
                                    <img src="assets/img/sanphamdadang-01.png" />
                                </div>
                                <div class="col-md-8 ttsp">
                                    <ul>
                                        <li>
                                            <img src="assets/img/tamgiacdadang-01.png" />
                                            <a href="#">AIR JORDAN 4 RETRO "2012 RELEASE"</a>
                                        </li>
                                    </ul>
                                    <div class="col-md-12 sndg">
                                        <h4>So nguoi dau gia</h4>
                                        <ul>
                                            <li>
                                                <h5>120</h5>
                                            </li>
                                        </ul>
                                        <a href="#">Chi tiet</a>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                        <div class="tab-pane" id="info">
                            <div class="col-md-12 dadang">
                                <div class="col-md-4 hinhsp">
                                    <img src="assets/img/sanphamdadang-01.png" />
                                </div>
                                <div class="col-md-8 ttsp">
                                    <ul>
                                        <li>
                                            <img src="assets/img/tamgiacdadang-01.png" />
                                            <a href="#">AIR JORDAN 4 RETRO "2012 RELEASE"</a>
                                        </li>
                                    </ul>
                                    <div class="col-md-12 sndg">                                    
                                        <ul>
                                            <li>
                                                <h5>120</h5>
                                            </li>
                                        </ul>
                                        <a href="#">Chi tiet</a>
                                    </div>
                                </div>
                            </div> 
                        </div>                  
                    </div>
                                   
                </div>
            <!-- het trai -->

            <!-- phai -->
            <div class="col-md-8 col-xs-12 phai">
                <div class="row phai1">
                    <h3>Đăng sản phẩm</h3>
                    <div class="daugach">
                    </div>
                    <div class="col-md-12 phai3">
                        <div class="col-md-6 danganh">
                            <div class="daugach2"></div>
                            <div class="col-md-12 danganh1">


                                    <input type="file" name="" />

                                <input type="file" name="" />


                            </div>
                        </div>
                        <div class="col-md-6 dangtt">
                            <h4>Thông tin sản phẩm</h4>
                            <ul>
                                <span class="glyphicon glyphicon-tag"></span>
                                <input type="text" class="form__field" placeholder="Tên sản phẩm/Bắt buộc" />
                            </ul>
                            <div class="daugach3"></div>
                            <h4>Thông tin sơ lượt</h4>
                            <ul>
                                <span class="glyphicon glyphicon-tags"></span>
                                <input type="text" class="form__field" placeholder="Thương hiệu/Bắt buộc" />
                            </ul>
                            <ul>
                                <span class="glyphicon glyphicon-tags"></span>
                                <input type="text" class="form__field" placeholder="Bảo hành/Bắt buộc" />
                            </ul>
                            <ul>
                                <span class="glyphicon glyphicon-tags"></span>
                                <input type="text" class="form__field" placeholder="Tình trạng/Bắt buộc" />
                            </ul>
                            <ul>
                                <span class="glyphicon glyphicon-tags"></span>
                                <select>
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </ul>
                            <div class="daugach3"></div>
                            <h4>Thời gian</h4>
                        </div>
                        <div class="col-md-12 phai2">
                            <h4>Thông tin chi tiết</h4>
                        </div>
                        <div class="col-md-12 phai2">
                            <textarea rows="5" cols="20" class="form__field" placeholder="Thông tin chi tiết/bắt buộc"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <!-- het phai -->
        </div>
        <!-- het main -->

        <!-- footer -->
        <div class="row footer">
            <div class="col-xs-12 col-md-5 footer1">
                <h2>AUCTION</h2>
                <div class="row footer1-1">
                    <a href="#">Lorem Ipsum</a>
                    is simply dummy text of the printing and typesetting industry.is simply dummy text of the printing and typesetting industry.
                    <p></p>
                    <img src="assets/img/logo web-01.png" />
                </div>
            </div>
            <div class="col-xs-12 col-md-4 footer2">
                <h2>Navigate</h2>
                <div class="row footer2-1">
                    <div class="col-xs-6 col-md-6">
                        <li>
                            <img src="assets/img/icon-footer-01.png" />
                            <a href="#">Web design and Development</a>
                        </li>
                        <li>
                            <img src="assets/img/icon-footer-01.png" />
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <img src="assets/img/icon-footer-01.png" />
                            <a href="#">Our team</a>
                        </li>
                        <li>
                            <img src="assets/img/icon-footer-01.png" />
                            <a href="#">Contact us</a>
                        </li>

                    </div>
                    <div class="col-xs-6 col-md-6">
                        <li>
                            <img src="assets/img/icon-footer-01.png" />
                            <a href="#">Event</a>
                        </li>
                        <li>
                            <img src="assets/img/icon-footer-01.png" />
                            <a href="#">Support</a>
                        </li>
                        <li>
                            <img src="assets/img/icon-footer-01.png" />
                            <a href="#">Hosting</a>
                        </li>
                        <li>
                            <img src="assets/img/icon-footer-01.png" />
                            <a href="#">Careers</a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 footer3">
                <h2>Stay connected</h2>
                <div class="row footer3-1">
                    Join over 10,500 people who receive bi-weekly web
                    <p></p>
                    <div class="container__item">
                        <form class="form">
                            <input type="email" class="form__field" placeholder="Your E-Mail Address" />
                            <button type="button" class="btn btn--primary btn--inside uppercase">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- het footer -->
    </div>

    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/style.js"></script>
</body>

</html>
