<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/login.css">
</head>

<body>
  <div class="container">
    <div class="form">



      <div id="login">
        <h1>Welcome Back!</h1>

        <form action="/" method="post">

          <div class="field-wrap">
            <label>
              Email Address
              <span class="req">*</span>
            </label>
            <input type="email" required autocomplete="off" />
          </div>

          <div class="field-wrap">
            <label>
              Password
              <span class="req">*</span>
            </label>
            <input type="password" required autocomplete="off" />
          </div>

          <p class="forgot">
            <a href="#">Forgot Password?</a>
          </p>
          <p class="forgot">
            <a href="register.html">register</a>
          </p>

          <div class="loginxx"><a class="loginx" href="#">Login</a></div>

        </form>

      </div>

    </div>
    <!-- tab-content -->


  </div>
  <!-- /form -->
  <div class="container-fluid">
    <div class="right1">
      <a href="#">
        <img src="assets/img/logo-01.png" />
      </a>
      <h2>Welcom there!</h2>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    </div>
  </div>
  </div>
  <script src='assets/js/jquery-3.2.1.min.js'></script>
  <script src="assets/js/style.js"></script>

</body>

</html>
