<!-- main -->
<div class="row main">
  <!-- trai -->
  <div class="col-md-4 col-xs-12 trai">

      <ul class="nav nav-tabs">
          <li><a href="#sp" data-toggle="tab">Sản phẩm đã đăng</a></li>
          <li><a href="#info" data-toggle="tab">Sản phẩm đã đấu giá</a></li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane" id="sp">
            <!-- SP Da dang -->
              <div class="col-md-12 dadang" *ngFor="let product of productArr">
                  <div class="col-md-4 hinhsp">
                      <img [src]="product.mainimage" />
                  </div>
                  <div class="col-md-8 ttsp">
                      <ul>
                          <li>
                              <img src="../../../../assets/img/tamgiacdadang-01.png" />
                              <a href="#">{{product.name}}</a>
                          </li>
                      </ul>
                      <div class="col-md-12 sndg">
                          <!-- <h4>So nguoi dau gia</h4>
                          <ul>
                              <li>
                                  <h5>120</h5>
                              </li>
                          </ul> -->
                          <a href="#">Chi tiet</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane" id="info">
            <!-- SP Da dau gia -->
              <div class="col-md-12 dadang" *ngFor="let proAuc of productAuc">
                  <div class="col-md-4 hinhsp">
                      <img [src]="proAuc.mainimage" />
                  </div>
                  <div class="col-md-8 ttsp">
                      <ul>
                          <li>
                              <img src="../../../../assets/img/tamgiacdadang-01.png" />
                              <a href="#">{{proAuc.name}}</a>
                          </li>
                      </ul>
                      <div class="col-md-12 sndg">
                          <ul>
                              <li>
                                  <h5>120</h5>
                              </li>
                          </ul>
                          <a href="#">Chi tiet</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <!-- het trai -->

  <!-- phai -->
  <div class="col-md-8 col-xs-12 phai">
      <div class="row phai1">
          <h3>Các sản phẩm đã đăng</h3>
          <div class="daugach">
          </div>
          <div class="col-md-12 col-xs-12 phai3">
              <div class="col-md-12 col-xs-12 sanpham">
                  <div class="col-md-3 col-xs-4 hinhspdd">
                      <img src="../../../../assets/img/sanphamdadang-02-01.png" alt="">
                  </div>
                  <div class="col-md-9 col-xs-8 ttspdd">
                      <ul>
                          <li>
                              <img src="../../../../assets/img/tamgiacdadang-01.png" />
                              <a href="#">AIR JORDAN 4 RETRO "2012 RELEASE"</a>
                          </li>
                      </ul>
                      <div class="col-md-12 col-xs-12">
                          <div class="col-md-2 col-xs-3 iconman">
                              <img src="../../../../assets/img/man-user.png" />
                          </div>
                          <div class="col-md-10 col-xs-9 sndg">
                              <ul>
                                  <li>
                                      Số người đấu giá:
                                      <a href="#">120</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-12 col-xs-12">
                          <div class="col-md-2 col-xs-3 iconman">
                              <img src="../../../../assets/img/schedule-button.png" />
                          </div>
                          <div class="col-md-10 col-xs-9 sndg">
                              <ul>
                                  <li>
                                      Thời gian còn lại:
                                      <span>10:00:00</span>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <table class="container col-md-12 col-xs-12">
                      <thead>
                          <tr>
                              <th>
                                  <h1>Tên người đấu giá</h1>
                              </th>
                              <th>
                                  <h1>Số điện thoại</h1>
                              </th>
                              <th>
                                  <h1>Số tiền</h1>
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Anh Phương Trần</td>
                              <td>01646795150</td>
                              <td>$200</td>
                          </tr>
                          <tr>
                              <td>Xxapt</td>
                              <td>0984994851</td>
                              <td>$500</td>
                          </tr>
                          <tr>
                              <td>XxQuochuy</td>
                              <td>0975343422</td>
                              <td>$30.000</td>
                          </tr>
                          <tr>
                              <td>XxNgocphuong</td>
                              <td>01868323274</td>
                              <td>$120.000.00</td>
                          </tr>
                          <tr>
                              <td>XxTXD</td>
                              <td>01866717059</td>
                              <td>$30.000</td>
                          </tr>
                          <tr>
                              <td>Xxbaoquang</td>
                              <td>0987465456</td>
                              <td>$150.000.000.000</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>

  </div>
  <!-- het phai -->
</div>
<!-- het main -->
