<!-- main -->
<div class="row main">
  <!-- trai -->
  <div class="col-md-4 col-xs-12 trai">

      <ul class="nav nav-tabs">
          <li><a class="active" href="#sp" data-toggle="tab">Sản phẩm đã đăng</a></li>
          <li><a href="#info" data-toggle="tab">Sản phẩm đã đấu giá</a></li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="sp">
            <!-- SP Da dang -->
              <div class="col-md-12 dadang" *ngFor="let product of productArr; let i = index">
                <div *ngIf="i < 4">
                    <div class="col-md-4 hinhsp">
                        <img [src]="product.mainimage" />
                    </div>
                    <div class="col-md-8 ttsp">
                        <ul>
                            <li>
                                <img src="../../../../assets/img/tamgiacdadang-01.png" />
                                <a href="#">{{product.proname}}</a>
                            </li>
                        </ul>
                        <div class="col-md-12 sndg">
                            <!-- <h4>So nguoi dau gia</h4>
                            <ul>
                                <li>
                                    <h5>120</h5>
                                </li>
                            </ul> -->
                            <a [routerLink]="['/san-pham-da-dang/san-pham',product.id]">Chi tiet</a>
                        </div>
                      </div>
                </div>
              </div>
          </div>
          <div class="tab-pane" id="info">
            <!-- SP Da dau gia -->
              <div class="col-md-12 dadang" *ngFor="let proAuc of productAuc">
                  <div class="col-md-4 hinhsp">
                      <img [src]="proAuc.mainimage" />
                  </div>
                  <div class="col-md-8 ttsp">
                      <ul>
                          <li>
                              <img src="../../../../assets/img/tamgiacdadang-01.png" />
                              <a href="#">{{proAuc.name}}</a>
                          </li>
                      </ul>
                      <div class="col-md-12 sndg">
                          <ul>
                              <li>
                                  <h5>120</h5>
                              </li>
                          </ul>
                          <a [routerLink]="['/san-pham-da-dang/san-pham',1]">Chi tiet</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <!-- het trai -->
  <router-outlet></router-outlet>
</div>
<!-- het main -->
