 /*Khung dưới menu*/


 .main{
	 background: #FFFFFF;
 }

 .col-md-4{visibility: visible;}

 /*------bangbenphai----*/
 .phai{
	float: right;
	margin: 10px 0;
	background: #CCCCCC;
}
.phai1{
	background:#CCCCCC;

	padding:10px;
}
.phai1 h3{
	color:#4F796B;
	font-size: 35px;
}
.phai1 .daugach{
	height: 3px;
	background: #C2000B;
	margin-left: 380px;
}

.phai1 .phai3{
	margin-top:10px;
	background: #F6F6F7;
	padding: 10px;
}
.phai3 .danganh{
	padding-bottom: 30px;
	background: rgb(255, 255, 255);
}
.phai3 .danganh .daugach2{
	height: 8px;
	background: #C2000B;
	margin: 0 -5px;
}
.phai3 .dangtt h4{
	font-size: 23px;

}
.phai3 .dangtt ul span{
	padding: 0 10px;
}
.phai3 .dangtt .daugach3{
	height:2px;
	background: rgb(151, 1, 11);
}
.dangtt .form__field{
	padding-right: 12px;
	background: rgb(97, 96, 96);
	color: #FFFFFF;
	padding-left:10px;
	width: 100%;
	font-size: 17px;
}
.phai3 .phai2{
	padding:2px 8px;
	background: rgb(108, 109, 110);
	color: white;
	margin-top:10px;
}
.phai2 .form__field{
	width: 100%;
	margin-top: 015px;
	font-size: 18px;
}
.phai3 .phai4 {
	background: #CCCCCC;
	color: black;
	padding: 10px;
}
.danganh{
	padding: 0;
	margin: 0;
}
.dangtt ul{
	font-size: 15px;
}
.dangtt .btn--inside {
	margin: 0;
	background: rgb(32, 32, 32);
}
.dangtt .btn--inside:hover{
	background: rgb(141, 1, 8);
	color:white;
}







/* ----------sp------------------------------------ */

























/* -----didong--------------------------------- */
 @media (max-width:768px){
	.container-fluid .menuan{
		display:none;
	}
	.slider img{width: 90%;
	column-width: 100%;

	}
	.timkiem{
		display: block;
	}


}





















  .carousel-indicators{
	  bottom:-20%;
  }
  .carousel-indicators .active{
	  background-color: rgb(199, 25, 34);
  }
  .carousel-indicators li{
	border: 1px solid rgb(121, 120, 120);
  }


  section.awSlider .carousel{
	display:table;
	z-index:2;

	/* -moz-box-shadow: 0 0 4px #444;
	  -webkit-box-shadow: 0 0 4px #444;
	  box-shadow: 0 0 15px rgba(1,1,1,.5); */
  }

  section.awSlider{
	margin:30px auto;
	padding:0px;
	position:relative;
	display:table;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }

  /* section.awSlider:hover > img{
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	opacity:1;
  }
   */
  section.awSlider img{
	 pointer-events: none;
  }

  section.awSlider > img{
	position:absolute;
	top:30px;
	z-index:1;
	transition:all .7s;
	filter: blur(1.8vw);
	-webkit-filter: blur(2vw);
	-moz-filter: blur(2vw);
	-o-filter: blur(2vw);
	-ms-filter: blur(2vw);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	opacity:.5;
  }
