 /*Khung dưới menu*/


 .main{
	 background: #FFFFFF;
 }
 .spchung{
	 background: #F6F6F7;
	 padding-bottom: 20px;
 }

 .col-md-4{visibility: visible;}
 /*------bangbenphai----*/
 .sanpham .xemthem{
	 float:right;
	 margin-right: 20px;
	 margin-top: 20px;
	 color: #CC382F;
 }
 .phai{
	float: right;
	margin: 10px 0;
	background: #CCCCCC;
	padding-bottom:15px;
}
.phai .spchung h3{
	color: #5A8171;
	padding: 10px 0 10px 20px;
	font-size: 35px;
}
.spchung .daugach2{
	height: 6px;
	width: 50%;
	background: #CC382F;

}
.daugach{
	 background:#5A8171 ;
	 height: 4px;
	 margin: -25px 20px 0px 180px ;

 }
 .phai li a{
	 font-size: 35px;
	 margin-left: 20px;
	 color: #5A8171;

 }
 .phai li{
	 margin-top: 10px;
	 list-style: none;
	 margin-bottom: 10px;
 }
 .hinhphai img{
	 width: 100%;
	 height: 200px;
 }
/* ----------sp------------------------------------ */
.video1 h4{
	margin-top: -20%;
	color:rgb(63, 61, 61);
	font-size: 16px;
	margin-left: 10%;

}

.video img{
	float:left;
	list-style: none;


}
.video1 img{
	width: 190px;
	height:100%;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.466);
}

.video {
	float:left;
	list-style: none;
	text-align: justify;
	margin:0px 20px 20px;
	color: aliceblue;
	border-bottom: 1px solid #FF0004;
}

.video1{
	height: 280px;
    background: #d8d2d2;
    margin-top: 17px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

}
.video1 .play_video ul li{
	float: left;
	font-size: 12px;
	margin-left: 10px;
}


.video1 .play_video{
	width: 100%;
	height: 170px;
	background: #38302F;
	text-align: center;
	position: absolute;
	bottom:-20px;

	opacity: 0;
	transition: all ease 0.5s;
	color: aliceblue;

}
.video1:hover .play_video{
	opacity: 0.8;
	bottom:-11px;
	left: 0px;
}
/* ----------xemthem------------ */
#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
	-o-transition: all 600ms ease-in-out;
	margin: 30px;
}
#loadMore:hover {
    background-color: #fff;
    color: #33739E;
}
.sanpham .sp1{
	display: none;
}
.sanpham .sp1.display{
	display: inline-block;
}
.totop {
    position: fixed;
    bottom: 10px;
    right: 20px;
}
.totop a {
    display: none;
}

/*daugia*/
.nhapdaugia{
	 width: 95%;
  background: #fff;
  color: #000000;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 3px 8px;
	margin-bottom: 5px;
}
.sanpham .btn{
	width: 70%;
}
.sanpham .btn--primary {
	margin-bottom: 5px;
  background: #C20E10;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 7px 18px;
}
.sanpham .btn--primary:hover {
  background:#4F7A6B ;
}
.sanpham .btn--primary:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.sanpham .btn--inside {
  margin-left: 0px;
}
#wrapper-sp{
  /* height: 290px;
  overflow: hidden; */
}
#wrapper-sp .sp-margin{
  margin-bottom:20px;
}


/*----dongho----------*/
#clockdiv{
	font-family: sans-serif;
	color: #FFFFFF;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 12px;
}

#clockdiv > div{
	padding: 3px;
	border-radius: 3px;
	background:#360000;
	display: inline-block;
}

#clockdiv div > span{
	padding: 5px;
	border-radius: 3px;
	background:#860002;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 12px;
}

/* -----didong--------------------------------- */
 @media (max-width:768px){
	.container-fluid .menuan{
		display:none;
	}
	.slider img{width: 90%;
	column-width: 100%;

	}
	.timkiem{
		display: block;
	}
	.phai img{
	width: 100%;
}
	.phai li a{
		font-size: 25px;
		padding-bottom: 10px;

	}

	.daugach{
		height: 3px;
    margin: -20px 20px 0px 130px;
}
	.hinhphai{
		margin-top: 10px;
	}
	.phai .spchung h3{
		font-size: 25px;
	}
	.spchung .daugach2 {
    height: 4px;
    width: 50%;
		background: #CC382F;
		margin: -10px 0 10px 0;
  }
  .video1 .play_video{
    opacity:unset;
  }
}
.btn-loadmore{
	border: none;
    float: rihgt;
    float: right;
    margin-right: 11px;
    background: #c20e10;
    color: white;
    padding: 4px;
}
/* Custom CSS */
