 /*Khung dưới menu*/


 .main{
	 background: #FFFFFF;
 }

 .col-md-4{visibility: visible;}
 .trai{
	padding-left: 7px;
	margin-bottom: 10px;
	background:#F2F2F2;
	margin: 0 -10px 0 0;
}
.trai{
	padding-top: 20px;
	margin-top: 10px;

}
.trai ul li img{
   width: 4%;
}
.trai ul li{

   color:#4F796B;
   padding:0 5px;
}
.trai ul{
   margin-bottom: 30px;
}
.trai .dadang ul{
   margin-bottom: 0;
   padding-top:10px;

}


.trai .dadang{
   border-left: 5px solid #C2000B;

   padding:0;
   margin: 10px 0;
   background: rgb(82, 82, 82);
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.212);
}
.trai .dadang .hinhsp{
   padding:0;
   margin: 0;
}
.trai .dadang .hinhsp img{
   width: 100%;
   padding:10px 0;
}
.dadang .ttsp ul li img{
   width: 10%;
}
.dadang .ttsp{
   color: white;
   padding-right: 0;
}
.dadang .ttsp ul li a{
   color:rgb(255, 255, 255);
   font-size: 15px;
}
.dadang .ttsp ul li a:hover{
   color: #C2000B;
}
.dadang .ttsp .sndg{
   padding:0 5px;
   margin: 0;
   background: rgb(82, 82, 82);
   border-left: 3px solid#C2000B;
   display: inline;


}


.dadang .ttsp .sndg h4{
   font-size: 15px;
   margin-bottom: 0;
}
.dadang .ttsp .sndg ul li h5{
   background: #FFFFFF;
   padding:5px;
   margin-top: 0;
   color: #C2000B;
}
.dadang .ttsp .sndg a{
   color:#C2000B;
   float: right;
}
.dadang .ttsp .sndg a:hover,.dadang .ttsp .sndg a:focus{
   color: #4F796B;
}
 /*------bangbenphai----*/
 .phai{
	float: right;
	margin: 10px 0;
	background: #CCCCCC;
}
.phai1{
	background:#CCCCCC;

	padding:10px;
}
.phai1 h3{
	color:#4F796B;
  font-size: 35px;
  padding-left: 15px;
}
.phai1 .daugach{
	height: 3px;
	background: #C2000B;
	margin-left: 380px;
}

.phai1 .phai3{

	background: #F6F6F7;
	padding: 10px;
}
.phai3 .danganh{
	height: 400px;
	background: #FFFFFF;
}
.phai3 .danganh .daugach2{
	height: 8px;
	background: #C2000B;
	margin: 0 -10px;
}
.phai3 .dangtt h4{
	font-size: 23px;
}.phai3 .dangtt ul span{
	padding: 0 10px;
}
.phai3 .dangtt .daugach3{
	height:2px;
	background: rgb(151, 1, 11);
}
.dangtt .form__field{
	padding-right: 12px;
}
.phai3 .phai2{
	padding:2px 8px;
	background: rgb(108, 109, 110);
	color: white;
	margin-top:10px;
}
.phai2 .form__field{
	width: 100%;
	margin-top: 015px;
	font-size: 18px;
}
.danganh .danganh1{
	padding:10px;
}
.btn-dangsp{
  padding:15px 33%;
  background: rgb(36, 36, 36);
  color:white;
  border: none;
}
.btn-dangsp1{
  margin:20px 0;
  text-align: center;

}
.btn-dangsp:hover{
  background: #C2000B;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
/* ----------sp------------------------------------ */
.btn{
	position: absolute;
	padding:4px 22px;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	background: #C2000B;
	color: white;
}
#inp{
	position: absolute;
	margin-top: 3px;
}
.danganh1{
	margin:10px;
}

.btn:hover{
	background: #4F796B;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}
























/* -----didong--------------------------------- */
 @media (max-width:768px){
	.trai{
		display: none;
	}
	.container-fluid .menuan{
		display:none;
	}
	.slider img{width: 90%;
	column-width: 100%;

	}
	.timkiem{
		display: block;
	}
}

/* Add-on CSS */
.loading{
  position: fixed;
  background: #000000cf;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}
.loading img{
  width: 6%;
  margin: auto;
  text-align: center;
  left: 0;
  right: 0;
  position: fixed;
  height: auto;
  margin-top: 260px;
}
