.trai{
	padding-left: 20px;
	height: 800px;
	background:#F2F2F2;
	margin: 0 -10px 0 0;
}
.trai img{
	width: 5%;
}

.trai{
	padding-top: 20px;
	margin-top: 10px;

}
.trai ul{
	margin: 0 20px;
}
.trai ul li ul li{
   margin: 0 20px;
   list-style: circle;
}
.trai ul li ul li a{
   font-size: 18px;
}
.trai ul li a{
	margin: 0 10px;
	font-size: 20px;
	color: black;
}
.trai ul li a:hover{
	text-decoration: none;
	color: #C7090D;
}
.trai ul{
	list-style: none;
}

@media (max-width:768px){
	.trai{
		display: none;
	}
}

.trai h3 {
  background: rgb(51, 51, 51);
  padding: 3%;
  color: white;
}
