/* slider */


/*hetslider */
.carousel-inner{
	margin: 10px 0;
}
.carousel-caption .slider_left ul li{
	margin-bottom: -15px;
	margin-top:20px;
}
.carousel-caption .slider_left ul li a{
	margin:0;
	padding:0;
}
.carousel-caption .slider_left ul img {
width: 100%;
text-align: center;

	}
.item active .carousel-caption{
	color: white;
	font-size: 14px;
	line-height: 25px;
}

