<!-- footer -->
<div class="row footer">
    <div class="col-md-12 col-xs-12">
  <div class="col-xs-12 col-md-5 footer1">
      <h2>AUCTION</h2>
      <div class="row footer1-1">
          <a href="#">Lorem Ipsum</a>
          is simply dummy text of the printing and typesetting industry.is simply dummy text of the printing and typesetting industry.
          <p></p>
          <img src="../../../../assets/img/logo web-01.png" />
      </div>
  </div>
  <div class="col-xs-12 col-md-4 footer2">
      <h2>Navigate</h2>
      <div class="row footer2-1">
          <div class="col-xs-6 col-md-6">
              <li>
                  <img src="../../../../assets/img/icon-footer-01.png" />
                  <a href="#">Web design and Development</a>
              </li>
              <li>
                  <img src="../../../../assets/img/icon-footer-01.png" />
                  <a href="#">About us</a>
              </li>
              <li>
                  <img src="../../../../assets/img/icon-footer-01.png" />
                  <a href="#">Our team</a>
              </li>
              <li>
                  <img src="../../../../assets/img/icon-footer-01.png" />
                  <a href="#">Contact us</a>
              </li>

          </div>
          <div class="col-xs-6 col-md-6">
              <li>
                  <img src="../../../../assets/img/icon-footer-01.png" />
                  <a href="#">Event</a>
              </li>
              <li>
                  <img src="../../../../assets/img/icon-footer-01.png" />
                  <a href="#">Support</a>
              </li>
              <li>
                  <img src="../../../../assets/img/icon-footer-01.png" />
                  <a href="#">Hosting</a>
              </li>
              <li>
                  <img src="../../../../assets/img/icon-footer-01.png" />
                  <a href="#">Careers</a>
              </li>
          </div>
      </div>
  </div>
  <div class="col-xs-12 col-md-3 footer3">
      <h2>Stay connected</h2>
      <div class="row footer3-1">
          Join over 10,500 people who receive bi-weekly web
          <p></p>
          <div class="container__item">
              <form class="form">
                  <input type="email" class="form__field" placeholder="Your E-Mail Address" />
                  <button type="button" class="btn btn--primary btn--inside uppercase">Send</button>
              </form>
          </div>
      </div>
  </div>
</div>
</div>
<!-- het footer -->
