  <!-- phai -->
  <div class="col-md-9 col-xs-12 phai">
      <div class="row phai1">
          <li>
              <a>
                  XXAPT
              </a>
              <div class="daugach"></div>
          </li>
          <div class="col-xs-6 col-md-6 hinhphai">
              <img src="../../../../assets/img/ads2-01-02.png" />
          </div>
          <div class="col-xs-6 col-md-6 hinhphai">
              <img src="../../../../assets/img/ads2-01-02.png" />
          </div>
      </div>
      <div class="spchung">
          <h3>Cac san pham dau gia</h3>
          <div class="daugach2"></div>
          <li>
              <a href="#">
                  XXAPT
              </a>
              <div class="daugach"></div>
          </li>
          <div class="container-fluid">
              <div class="row">
                  <div class="sanpham">
                      <div class="row sp1">
                          <div class="col-md-3 col-xs-12" *ngFor="let product of products | orderBy:'id':true;let i = index">
                              <div class="video1" *ngIf="i<4">
                                  <img src="../../../../assets/img/sp1-01.png">
                                  <h4>{{product.proname}}</h4>
                                  <div class="col-ms-12 play_video">
                                      <h6>Người đăng: {{product.username}}</h6>
                                      <a [routerLink]="['/san-pham',product.id]" class="btn btn--primary btn--inside uppercase">Đấu giá</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <a href="#" id="loadMore">Load More</a>
                      <p class="totop">
                          <a href="#top">Back to top</a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- het phai -->
