<div class="container">
  <div class="form">
    <div id="login">
      <h1>Welcome Back!</h1>
      <form #login="ngForm" (ngSubmit)="checkLogin()">
        <h2>EMAIL</h2>
        <div class="field-wrap">
          <label>
            
            <span class="req"></span>
          </label>
          <input type="email" required autocomplete="off" name="email" #email (keyup)="onEmail(email.value)" ngModel />
        </div>
        <h2>MẬT KHẨU</h2>
        <div class="field-wrap">
          <label>
           
            <span class="req"></span>
          </label>
          <input type="password" required autocomplete="off" name="pass" #pass (keyup)="onPass(pass.value)" ngModel />
        </div>

        <p class="forgot">
          <a href="#">Forgot Password?</a>
        </p>
        <p class="forgot">
          <a href="register.html">register</a>
        </p>        
        <button class="loginx" type="submit" >Login</button>
        <button class="loginx" type="button" (click)="goToHome()">Go Home</button>
      </form>

    </div>

  </div>
  <!-- tab-content -->


</div>
<!-- /form -->
<div class="container-fluid">
  <div class="right1">
    <a href="#">
      <img src="../../../../assets/img/logo-01.png" />
    </a>
    <h2>Welcom there!</h2>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  </div>
</div>
