/* ------------footer---------------*/

.footer{
	
	background:url('../img/bg header-01-01.png');
	margin-bottom: 10px;
	padding: 5px 14px;
	
}
.footer h2{
	font-size:20px;
	color: #4F7A6B;
}
.footer a{
	color: #FF1C15;
}
.footer a:hover{
	color:#4F7A6B;
	text-decoration: none;
}
.footer1 img{
	width: 50%;
	margin-top: 10px;
	
}
.footer1-1 {
	
	color: aliceblue;
}
.footer2 li{
	font-size: 16px;
	margin-bottom: 7px;
}
.footer2 li a{
	color: #429478;
	
}
.footer2 li a:hover{
	color: #FF1C15;
}
.footer2 img{
	width: 5%;
}
.row .footer2-1{
	border-right:2px solid #149B49;
	border-left:2px solid #149B49;
}
.row .footer3-1{
	margin-left: 0.5px;
	color: aliceblue;
}
a {
  color: inherit;
}
a:hover {
  color: #7f8ff4;
}
.row .footer2-1 img{
	width: 10%;
}



.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.btn--primary {
  background: #C20E10;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 6px 36px;
}
.btn--primary:hover {
  background: #6c7ff2;
}
.btn--primary:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--inside {
  margin-left: -80px;
}

.form__field {
  width: 84%;
  background: #fff;
  color: #000000;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 15px 7px;
  padding-right:78px;
}
.row .footer4 img{
	width: 2%;	
}
.row .footer4 li{
	margin: 5px 0px 10px 20px;
	float:left;
}
/* ------------footer---------------*/



@media (max-width:767px){
	.antrenmobile{
		display: none;
	}
	.signin .glyphicon{
		color:white;
		font-size: 40px;
	}
	.signin{
		padding-right: 2%;
	}
	.search .form__field{
		width: 85%;
		margin: 15px 0 5px;
		padding-right: 34px;
	}
	
	.search .btn--primary{
	padding:7px 30px;
}
	.row .footer2-1{
		border-left:2px solid #149B49;
	}
}