
*{margin:0;padding:0}
li{list-style-type: none; }
a{text-decoration: none;}
a:hover,a:focus,a:visited{text-decoration: none;}
img{width: 100%;}
body{
	background: #424141;
	background-size: cover;
}
.remove-margin{
	margin-left: 0;
	margin-right: 0;
}
.hover{
	cursor: pointer;
}
.man-hinh-giua{
  background: none;
  min-height: 500px;
}
.dong1{
   padding-bottom: 15px;
   width: 100%;
	 background:url('../img/bg header-01-01.png');
	 background-size: cover;
   border: none;
}

.dong1 .signin ul li{
	float: left;
	font-size: 16px;
	color:#C7090D;	
	margin: 10px 10px;
}
.dong1 .signin ul li:focus a, .dong1 .signin ul li:hover a{
	color: #4F7A6B;
}

/* --------menu---------------*/
.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.search .btn--primary {
  background: #C20E10;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 7px 54px;
}
.search img{
	width: 20px;
}
.search .btn--primary:hover {
  background:#4F7A6B ;
}
.search .btn--primary:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--inside {
  margin-left: -60px;
}

.search .form__field {
  width: 88%;
  background: #fff;
  color: #000000;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 12px 8px;
  padding-right:86px;
}
.sizechu li a{
	font-size: 143%;
	
}
.sizechu li{
	float:left;
	color:red;
	padding: 10px 20px;
}
.sizechu{
	width: 90%;
	margin: auto;
	text-align: center;
	margin-top: 20px;
}
.sizechu li a:hover{
	color: #4F7A6B;
}
.trenthanhsearch ul{
	color: #FD1B15;	
}
/* ------hetmenu------------ */
/* --------user-------- */


.signin .bangten{
	display: inline;
	float: right;
}
.signin .user .upsp li a{
	
	color: #C20E10;
	padding: 5px ;
}
.signin .user .upsp li {
	float: right;
	background: white;
	margin-top:-10px;
	padding: 3px 0;
}
.signin .user .upsp li img{
	width: 100%;
}
.signinan{
	display: none;
}
.menuan{
	background: #362D2C;
	/* position: fixed; */
	z-index: 100;	
	padding:8px 0;
	margin-top: 0;	
}
.col-md-12.menuan.remove-margin.affix {
	top: 0;
	left: 0;
}
.col-md-12.menuan.remove-margin.affix.trenthanhsearch  {display: none;}

/* ------hetuser-------- */
/* ---------------nut bam hien menu tren dt-------------------- */
 .signin .glyphicon-align-right{
display: none;
}
.menudt{
	display: none;
}
.menudt1{
	display: none;
}

.danhmucdt{
	display: none;
}
@media (max-width: 767px) {
	
	.danhmucdt{
		display: inline;
	}
	.menudt1{
		height: 400px;
		background: rgb(87, 14, 14);
		opacity: 0.8;		
		position: absolute;
		z-index: 200;
	}

	
	.menudt1 ul li{
		
		padding: 10px 30px 5px 30px;
		border-bottom: 2px solid #cccccc;
	}
	.menudt1 ul li a{
		font-size: 15px;
		color: white;		
	}
	.menudt1 ul li a:active{
		color:#429478;
	}

	.danhmucdt h3{
		font-size:25px;
		color:#C20E10;		
		border-bottom:2px solid red;
	
	}
	.danhmucdt ul li img{
		width: 10%;
	}
	.danhmucdt ul li{
		border: none;	
		margin-left: -20px;	
	}
	.danhmucdt ul li ul li{
		margin: 0 0px 0 20px;
		list-style: circle;		
	}
	.signin .glyphicon-align-right{
		background:none;
		border: none;
		display: inline;
	}
	.menuan{
		width: 100%;
		background:#362D2C;
	}


	
}
@media (width: 768px){
	.menuan{
		width: 97.6%;
		background:#362D2C;
	}
	
}
@media (width: 1024px){
	.menuan{
		width: 100%;
		background:#362D2C;
	}
	
}

/* ---------------het nut bam hien menu tren dt-------------------- */