
*{margin:0;padding:0}
li{list-style-type: none; }
a{text-decoration: none;}
a:hover,a:focus,a:visited{text-decoration: none;}
img{width: 100%;}
body{	
	background-size: cover;
	
}
.man-hinh-giua{
  background: none;
  min-height: 500px;
	padding:0;
}
.dong1{
   padding-bottom: 15px;
   width: 100%;
	 background:url('../img/bg header-01-01.png');
	 background-size: cover;
   border: none;
}

.dong1 .signin ul li{
	float: left;
	font-size: 16px;
	color:#C7090D;	
	margin: 10px 10px;
}
.dong1 .signin ul li:focus a, .dong1 .signin ul li:hover a{
	color: #4F7A6B;
}

/* --------menu---------------*/
.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.search .btn--primary {
  background: #C20E10;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 7px 55px;
}
.search img{
	width: 20px;
}
.search .btn--primary:hover {
  background:#4F7A6B ;
}
.search .btn--primary:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--inside {
  margin-left: -60px;
}

.search .form__field {
  width: 460px;
  background: #fff;
  color: #000000;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 12px 8px;
}
.sizechu li a{
	font-size:28px;
	
}
.sizechu li{
	float:left;
	color:red;
	padding: 10px 20px;
}
.sizechu{
	width: 90%;
	margin: auto;
	text-align: center;
	margin-top: 20px;
}
.sizechu li a:hover{
	color: #4F7A6B;
}
.trenthanhsearch ul{
	color: #FD1B15;	
}
/* ------hetmenu------------ */
/* --------user-------- */
.signin .user{
	height: 50px;
	width: 170px;
	background:url('../img/user-01.png');
	position: absolute;
	box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.signin .user ul li{
	font-size: 20px;
}
.dangsanpham .uppercase{
	margin: 20px 0;
	width: 170px;
	height: 30px;
	padding-left: 0px;
	padding-top: 8px;
	color: white;
	font-size: 13px;
}
/* ------hetuser-------- */
/* ---------------nut bam hien menu tren dt-------------------- */
 .signin .glyphicon-align-right{
display: none;
}
.menudt{
	display: none;
}
.menudt1{
	display: none;
}

@media (max-width: 1202px) {
	
	
	.menudt1{
		display: inline;
		height: 400px;
		background: rgb(87, 14, 14);
		opacity: 0.8;		
		position: absolute;
		z-index: 200;
	}
	
	.menudt1 ul li{
		
		padding: 10px 30px 5px 30px;
		border-bottom: 2px solid #cccccc;
	}
	.menudt1 ul li a{
		font-size: 15px;
		color: white;		
	}
	.menudt1 ul li a:active{
		color:#429478;
	}

	.danhmucdt h3{
		font-size:25px;
		color:#C20E10;		
		border-bottom:2px solid red;
	
	}
	.danhmucdt ul li img{
		width: 10%;
	}
	.danhmucdt ul li{
		border: none;	
		margin-left: -20px;	
	}
	.danhmucdt ul li ul li{
		margin: 0 0px 0 20px;
		list-style: circle;		
	}
	.signin .glyphicon-align-right{
		background:none;
		border: none;
		display: inline;
	}
	
}

/* ---------------het nut bam hien menu tren dt-------------------- */