<!-- phai -->
<div class="col-md-9 col-xs-12 phai">
  <div class="row phai1">
    <img src="../../../../assets/img/hpny1-01.png" alt="">

    <div class="col-md-12 phai3">
      <div class="col-md-6 col-xs-12 col-ms-12 danganh">
        <div class="daugach2"></div>
        <div class="col-md-12 col-xs-12 col-ms-12 danganh1">
          <img [src]="mainimage" alt="..."/>
        </div>
      </div>
      <div class="col-md-6 dangtt">
        <ul>
          <h3>{{proname}}</h3>
        </ul>
        <div class="daugach3"></div>
        <h4>Thông tin sơ lượt</h4>
        <ul>
          <span class="glyphicon glyphicon-tags"></span>
          Thương hiệu: {{brand}}
        </ul>
        <ul>
          <span class="glyphicon glyphicon-tags"></span>
          Bảo hành: {{warrantyperiod}}
        </ul>
        <ul>
          <input id="priceInp" name="price" type="number" class="form__field" placeholder="" #price (keyup)="onPrice(price.value)"/>
        </ul>
        <ul>
          <button id="priceBtn" type="button" (click)="onClick()" class="btn btn--primary btn--inside uppercase">Đấu giá</button>
        </ul>
        <div class="daugach3"></div>

        <div id="countdownContainer" class="countdownContainer">
            <h5>Thời gian còn lại</h5>
            <span id="days"></span> ngày <span id="hours"></span> giờ <span id="minutes"></span> phút <span id="seconds"></span> giây
        </div>
        <div id="countdownContainer-over" class="countdownContainer">
          <span>Sản phẩm đã kết thúc đấu giá</span>
      </div>

      </div>
      <div class="col-md-12 phai2">
        <h4>Thông tin chi tiết</h4>
      </div>
      <div class="col-md-12 phai4">
        <p>{{note}}</p>
      </div>
    </div>

  </div>

</div>
<!-- het phai -->
